@import "../../sass/variables";

nav{
    padding: 0 2rem;

    &.navbar-light{

        border-bottom: 1px solid #d9d9d9;

        ul.navbar-nav{
            .active{
                >.nav-link{
                    &.earthquake{
                        color: $color-green;
                        font-size: 24px;
                        font-weight: lighter;

                        padding-top: 1rem;
                        padding-bottom: 1rem;

                        sup{
                            font-weight: normal;
                            font-size: 50%;
                            color: $color-standard;
                            top: -1em;
                        }
                    }
                }
            }
        }

        #right-links{
            li{

                &:not(#logout){
                    transition: ease 0.3s;
                }

                &:not(#logout):hover{
                    background-color: $color-grey;
                }

                a{
                    font-weight: 600;
                    color: $color-standard;
                    text-transform: uppercase;

                    padding: 1.3rem 2rem;

                    &.active-link{
                        color: $color-green;
                        border-bottom: 2px solid $color-green;
                    }
                }

                &#logout{
                    a{
                        cursor: pointer;

                        padding: 1.2rem 2rem;

                        div{
                            transition: ease 0.3s;
                            border-radius: 50%;
                            width: 30px;
                            height: 30px;
                        }

                        &:hover{

                            div{
                                background-color: $color-grey;
                                transition: ease 0.3s;
                            }
                        }
                    }
                }
            }
        }
    }  
}