<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="/assets/imgs/G17_logo_alt.svg">
  </a>
  <button class="navbar-toggler" type="button" 
  (click)="isCollapsed = !isCollapsed" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="header" [collapse]=isCollapsed>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link earthquake" href="#">Frontend developer test <sup>Beta</sup> <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <ul id="right-links" class="navbar-nav">
      <li class="nav-item">
        <a routerLink="/map" routerLinkActive="active-link" id="map" class="nav-link">mapa</a>
      </li>
      <li class="nav-item">
        <a routerLink="/table" routerLinkActive="active-link" id="table" class="nav-link">tabla</a>
      </li>
      <li class="nav-item" id="logout">
        <a class="nav-link" (click)="logout()">
          <div class="text-center">
            <i class="fa fa-arrow-right" aria-hidden="true"></i>
          </div>
        </a>
      </li>
    </ul>
  </div>
</nav>
