@import "../../sass/variables";

.container-fluid{
    .row{
        .bd-content{
            padding: 0;
            border-right: 1px solid $color-grey;

            div#datepicker{
                //height: 50px;
                background-color: $color-grey;

                img{

                    &:first-of-type{
                        padding: 20px;
                        padding-left: 35px;
                        padding-right: 10px;
                    }
                }

                span{

                    // START Y END
                    &:nth-child(2), &:nth-child(5){
                        font-size: 16px;
                        text-transform: uppercase;
                    }

                    &.parsed-date{
                        font-size: 20px;
                        font-weight: lighter;
                        color: $color-green;
                    }

                    &#bullet{
                        padding-left: 10px;
                        padding-right: 10px;
                        color: $color-grey-dark;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}