<div class="container-fluid">
  <div class="row flex-xl-nowrap">
    <main class="col-12 col-md-9 col-xl-9 bd-content">
      <div id="datepicker">
        <img src="/assets/imgs/calendar.svg" daterangepicker [options]="options" (selected)="selectedDate($event)"
        (cancelDaterangepicker)="calendarCanceled($event)"
        (applyDaterangepicker)="calendarApplied($event)">
        <span>start</span>
        <span class="parsed-date">{{daterange.start | date:'MMM dd, yyyy'}}</span>
        <span id="bullet">&#9679;</span>
        <span>end</span>
        <span class="parsed-date">{{daterange.end | date:'MMM dd, yyyy'}}</span>
      </div>
      <p>
        Aquí irán los componentes para mostrar:
      </p>
      <ul>
        <li>Selector de fechas y Listado de Terremotos</li>
        <li>Estadísticas generales de terremotos</li>
        <li>Ficha técnica de terremoto</li>
      </ul>
    </main>
    <div class="col-12 col-md-3 col-xl-2 bd-sidebar">
      Fichas
    </div>
  </div>
</div>



