/* You can add global styles to this file, and also import other style files */

$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome.scss";
@import "~bootstrap/dist/css/bootstrap.min.css";

@import "~ngx-toastr/toastr";

@import "variables";

@import "~ng2-daterangepicker/daterangepicker.component.css";

html, body{
    height: 100%;

    section.main-container{
        height: 100%;
    }
}

.earthquake{
    color: $color-green;
}

a{
    &.earthquake{
        &:hover{
            color: $color-green; 
        }
    }
}

.btn{
    &.btn-earthquake{
        color: $color-white;
        background-color: $color-green;
    }
}

div.daterangepicker {

    td{

        &.available:hover{
            background-color: $color-green-lighter
        }

        &.in-range{
            background-color: $color-green-lighter;
        }

        &.active{
        
            background-color: $color-green;

            &:hover{
                background-color: $color-green;
            }
        }
    }
}
