<div class="page-wrap">
  <div class="container d-flex">
    <div class="row main align-self-center">
      <div class="card">
        <div class="card-body">
          <div class="card-title">
            Frontend developer test <sup>Beta</sup>
          </div>
          <div class="card-subtitle">
            Login
          </div>
          <div class="card-text">
            <form role="form" [formGroup]="form" (ngSubmit)="onSubmit()">
              <div class="form-group">
                <label for="username">Username</label>
                <input type="text" formControlName="username" class="form-control" id="username" 
                  placeholder="Type your username" tabindex="1">
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <a href="#" id="forgot" class="earthquake pull-right" tabindex="5">Forgot?</a>
                <input type="password" formControlName="password" class="form-control" id="password" 
                placeholder="Type your password" tabindex="2">
              </div>
              <div class="form-check">
                  <input type="checkbox" class="form-check-input" id="exampleCheck1" tabindex="3">
                  <label class="form-check-label" for="exampleCheck1">Remember me</label>
              </div>
              <button type="submit" class="btn btn-earthquake" tabindex="4">
                <img src="/assets/imgs/arrow-right-white.svg">Login
              </button>
            </form>
          </div>
        </div>
      </div>      
    </div>
  </div>
</div>