@import "../../sass/variables";

.page-wrap{
    min-height: 100%;
    background-image: url('/assets/imgs/bg-login-reveal.jpg');
    background-size: cover;

    position: relative;

    .container{

        position: absolute;
        height: 100%;
        right: 0;
        left: 0;

        .row{
            margin: 0 auto;

            .card{

                .card-body{

                    padding: 2.5rem;

                    .card-title{
                        font-size: 26px;
                        font-weight: lighter;
                        color: $color-green;
    
                        sup{
                            font-weight: normal;
                            font-size: 50%;
                            color: $color-standard;
                            top: -1em;
                        }
                    }
    
                    .card-subtitle{
                        font-weight: lighter;
                        font-weight: lighter;
                        margin-top: 25px;
                        font-size: 42px;
                    }

                    .card-text{
                        margin-top: 20px;

                        .form-group{
                            input::-webkit-input-placeholder{
                                font-weight: lighter;
                            }
                        }

                        .form-check{

                            padding-left: 0;
                            
                            > {
                                .form-check-input[type="checkbox"], .form-check-label {
                                margin-bottom: 0px !important;
                                -webkit-touch-callout: none;
                                -webkit-user-select: none;
                                -khtml-user-select: none;
                                -moz-user-select: none;
                                -ms-user-select: none;
                                user-select: none;
                                }

                                .form-check-input[type="checkbox"] {
                                &:not(:checked), &:checked {
                                    position: absolute;
                                    left: -9999px;
                                }
                                &:not(:checked) + .form-check-label, &:checked + .form-check-label {
                                    position: relative;
                                    padding-left: 22px;
                                    cursor: pointer;
                                }
                                &:not(:checked) + .form-check-label:before, &:checked + .form-check-label:before {
                                    content: '';
                                    position: absolute;
                                    left: 0;
                                    top: 50%;
                                    margin-top: -9px;
                                    width: 17px;
                                    height: 17px;
                                    border: 1px solid #ddd;
                                    background: #ffffff;
                                    border-radius: 2px;
                                }
                                &:not(:checked) + .form-check-label:after, &:checked + .form-check-label:after {
                                    font-family: FontAwesome;
                                    content: '\f00c';
                                    position: absolute;
                                    top: 50%;
                                    margin-top: -12px;
                                    left: 0;
                                    color: #94C947;
                                    xtransition: all .2s;
                                }
                                &:not(:checked) + .form-check-label:after {
                                    opacity: 0;
                                    transform: scale(0);
                                }
                                &:checked + .form-check-label:after {
                                    opacity: 1;
                                    transform: scale(1);
                                }
                                
                                &:checked:focus + .form-check-label:before, &:not(:checked):focus + .form-check-label:before {
                                    border: 1px solid #66afe9;
                                    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
                                }
                                }

                                .form-check-label:hover:before {
                                border: 1px solid #88D2FF !important;
                                }
                            }
                        }

                        [type="submit"]{
                            margin-top: 25px;

                            cursor: pointer;

                            img{
                                margin-top: -1.5px;
                                padding-right: 12px;
                            }
                        }
                    }
                }                
            }
        }
    }    
}