<!--The content below is only a placeholder and can be replaced.-->

<!-- For Login page -->
<section class="main-container">
    <router-outlet></router-outlet>
</section>

<!--<p>La pantalla actual es: {{route}}</p>-->